src/dashboard/flows.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3b931ee9.0688c2","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bad7c7d.5054c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7c03f91.8126","type":"ui_group","name":"Chaos Sensor","tab":"8d5b248b.b32978","order":2,"disp":true,"width":"24","collapse":false},{"id":"675fff50.e5e07","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"a10ac9b6.18b898","type":"ui_spacer","name":"spacer","group":"675fff50.e5e07","order":4,"width":24,"height":1},{"id":"41e73188.1cbfc","type":"ui_group","name":"Robots Battery","tab":"8d5b248b.b32978","order":4,"disp":true,"width":"24","collapse":false},{"id":"9f0c27f9.b51bb8","type":"ui_group","name":"Supplier","tab":"8d5b248b.b32978","order":4,"disp":true,"width":"24","collapse":false},{"id":"ffd951b5.fd2e6","type":"ui_group","name":"Storage","tab":"8d5b248b.b32978","order":5,"disp":true,"width":"24","collapse":false},{"id":"d356d37f.c19f1","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"storage/1/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":210,"y":500,"wires":[["1c86e45c.646a7c"]]},{"id":"ae23ecab.f5d54","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"ffd951b5.fd2e6","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":460,"wires":[[]]},{"id":"3686d445.ae6fac","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":260,"y":100,"wires":[["a0ca5b1b.242ed8"]]},{"id":"a0ca5b1b.242ed8","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":1,"width":8,"height":1,"name":"","label":"Simulationszeit","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":100,"wires":[]},{"id":"e09fa76.8c40d58","type":"ui_slider","z":"5992b366.f9457c","name":"","label":"Simulationsgeschwindigkeit","tooltip":"","group":"675fff50.e5e07","order":5,"width":16,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0.25","max":"30","step":"0.25","x":480,"y":360,"wires":[["4a655145.b57"]]},{"id":"94f5375.5e92cc8","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":230,"y":160,"wires":[["a52df976.ba8f88"]]},{"id":"a52df976.ba8f88","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":2,"width":8,"height":1,"name":"","label":"Simulationsgeschwindigkeit","format":"{{msg.payload}}x","layout":"row-spread","x":480,"y":160,"wires":[]},{"id":"4a655145.b57","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"tickgen/speed_factor","qos":"","retain":"","broker":"3b931ee9.0688c2","x":860,"y":360,"wires":[]},{"id":"5c7ef2e5.7d6d5c","type":"ui_switch","z":"5992b366.f9457c","name":"","label":"Enable Adaptive Mode","tooltip":"","group":"675fff50.e5e07","order":6,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":460,"y":300,"wires":[["93931a65.57e558"]]},{"id":"93931a65.57e558","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"","retain":"","broker":"3b931ee9.0688c2","x":860,"y":300,"wires":[]},{"id":"9e297410.dadd68","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"mgmt/adaptive_mode","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":220,"y":220,"wires":[["8e0c7bef.ddd488"]]},{"id":"8e0c7bef.ddd488","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":3,"width":8,"height":1,"name":"","label":"Adaptive Mode","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":220,"wires":[]},{"id":"1c86e45c.646a7c","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":410,"y":500,"wires":[["fd591594.eb76d8"]]},{"id":"fd591594.eb76d8","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.package_type_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":500,"wires":[["ae23ecab.f5d54","9b9b81e2.eb0ef"]]},{"id":"88e16359.77529","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tick_gen/speed_factor","payload":"10","payloadType":"num","x":210,"y":360,"wires":[["e09fa76.8c40d58"]]},{"id":"7b1f9b6f.3e0bd4","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"mgmt/adaptive_mode","payload":"false","payloadType":"bool","x":200,"y":300,"wires":[["5c7ef2e5.7d6d5c"]]},{"id":"4ddb5646.e6bc08","type":"inject","z":"5992b366.f9457c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"tickgen/tick","payload":"0","payloadType":"num","x":250,"y":60,"wires":[["a0ca5b1b.242ed8"]]},{"id":"9b9b81e2.eb0ef","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"ffd951b5.fd2e6","order":2,"width":8,"height":8,"gtype":"gage","title":"Package Type 1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":840,"y":540,"wires":[]},{"id":"496f4449.ca5cac","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"storage/1/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":190,"y":700,"wires":[["3657892f.a5c506"]]},{"id":"e856938e.3aece","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"ffd951b5.fd2e6","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":660,"wires":[[]]},{"id":"3657892f.a5c506","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":700,"wires":[["d9bc800f.a22ec"]]},{"id":"d9bc800f.a22ec","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.package_type_2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":700,"wires":[["e856938e.3aece","261b6d94.ba0b72"]]},{"id":"261b6d94.ba0b72","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"ffd951b5.fd2e6","order":2,"width":8,"height":8,"gtype":"gage","title":"Package Type 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":820,"y":740,"wires":[]},{"id":"70ada7f9.0eb518","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"supplier/1/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":180,"y":1280,"wires":[["7209d2b8.ddaedc"]]},{"id":"5e83be1c.7640b","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"9f0c27f9.b51bb8","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":1240,"wires":[[]]},{"id":"7209d2b8.ddaedc","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1280,"wires":[["c528042.a5a2ef8"]]},{"id":"c528042.a5a2ef8","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.package_type_2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1280,"wires":[["5e83be1c.7640b","a05aee9.b380c1"]]},{"id":"a05aee9.b380c1","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"9f0c27f9.b51bb8","order":2,"width":8,"height":8,"gtype":"gage","title":"Package Type 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":800,"y":1320,"wires":[]},{"id":"5c762175.4851a","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"supplier/1/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":200,"y":920,"wires":[["9ad9d5a8.78dd28"]]},{"id":"12a60836.03be38","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"9f0c27f9.b51bb8","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":880,"wires":[[]]},{"id":"9ad9d5a8.78dd28","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":920,"wires":[["4e39eb8d.3eaa24"]]},{"id":"4e39eb8d.3eaa24","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.package_type_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":920,"wires":[["12a60836.03be38","6e2a5176.25e01"]]},{"id":"6e2a5176.25e01","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"9f0c27f9.b51bb8","order":2,"width":8,"height":8,"gtype":"gage","title":"Package Type 1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":820,"y":960,"wires":[]},{"id":"5ee16233.bf73ec","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"roboter/1/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":170,"y":1580,"wires":[["17a45c6e.424944"]]},{"id":"7fe9d815.95a648","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"41e73188.1cbfc","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":1540,"wires":[[]]},{"id":"17a45c6e.424944","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1580,"wires":[["8eab93ce.3d9b9"]]},{"id":"8eab93ce.3d9b9","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1580,"wires":[["7fe9d815.95a648","1b53a505.9cf85b"]]},{"id":"1b53a505.9cf85b","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"41e73188.1cbfc","order":2,"width":8,"height":8,"gtype":"gage","title":"Robot 1 Battery","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":800,"y":1620,"wires":[]},{"id":"7ed279c.8fdea88","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"roboter/2/data","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":150,"y":1800,"wires":[["5fb94864.a7fb18"]]},{"id":"6a57830b.44dc7c","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"41e73188.1cbfc","order":1,"width":16,"height":8,"label":"Data over Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1760,"wires":[[]]},{"id":"5fb94864.a7fb18","type":"json","z":"5992b366.f9457c","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1800,"wires":[["a9de1b38.b7b748"]]},{"id":"a9de1b38.b7b748","type":"change","z":"5992b366.f9457c","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1800,"wires":[["6a57830b.44dc7c","95c56ac7.aebf98"]]},{"id":"95c56ac7.aebf98","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"41e73188.1cbfc","order":2,"width":8,"height":8,"gtype":"gage","title":"Robot 2 Battery","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":780,"y":1840,"wires":[]}]